@import "~@fortawesome/fontawesome-free/css/all.min.css";

body{
  min-height: 100vh;
}
.App {
  text-align: center;
}

.App-div {
  background-color: #faf5f5;
  min-height: 100vh;
  align-items: center;
  font-size: calc(8px + 1vmin);
  color: rgb(54, 54, 54);
}

.main-page-section{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.link-to-other-page{
  color: #c4a1a1;
  text-decoration: none;
}

.about-me-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: calc(8px + 1vmin);
  color: rgb(54, 54, 54);
}

.about-me-img-list{
  max-height: 25vh;
}


.card-container-main-page {
  max-width: 100vw !important;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

.card-container-main-page .MuiPaper-root{
  max-width: 75vw !important;
}